.home h2 {
  color: #1146a6;
  padding: 2rem 0 1rem;
  text-align: center;
}

.memories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  padding: 2rem;

}

.memory {
  flex: 1 1 300px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;

}

.memory img {
  max-height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.actions{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.search-container {
  display: flex;
  justify-content: center;
  margin: 20px;
 }
 
 .search {
  display: inline-block;
  text-align: center;
  width: 40%;
 }
 
 .input-btn-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
 }
 
 .input-btn-container input[type="text"] {
  width: 90%;
  padding: 5px;
  margin-right: 5px;
 }
 
 .input-btn-container button {
  width: 5%;

  padding: 5px;
  color: white;
  cursor: pointer;
 }

 

 